/* Write your code here. */
* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  background-color: #0f172a;
  color: #f8fafc;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  height: 250px;
  width: 250px;
}
